@{
    ViewData["Title"] = "Home Page_01";
}

<div class="text-center">
    <h1 class="display-4">Welcome Index3</h1>
    <p>Microsofts dokumentation för GIT med Visual Studio: <a href="https://learn.microsoft.com/en-us/visualstudio/version-control/?view=vs-2022"></a>.</p>
</div>
