@model Garage2_0.Models.Vehicle

@{
    ViewData["Title"] = "Check in";
}

<h1>Check in</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-1">
                <label asp-for="RegistrationNr" class="control-label"></label>
                <input asp-for="RegistrationNr" style='text-transform:uppercase' id="RegID" class="form-control" />
                <span asp-validation-for="RegistrationNr" class="text-danger"></span>
            </div>
            <partial name="_VehicleEditTablePartial" />
            <div class="form-group my-1">
                <input type="submit" value="Check in" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Garage</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script>
        'use strict';

        $(document).ready(function () {

            

            $("RegID").focusout(function () {


                console.log("Test");
                let searchQuery = $.trim($("#txtVehicleRegn").val());

                let callid = 'Search';

                let urlFinal = callid + '/' + searchQuery;
                //$("table tbody").html("");
                //$("tbody").parents("tr").remove();
                $.ajax({
                    type: "GET",
                    // url: "/api/Search",
                    url: '/API/' + urlFinal,
                    //data: "\"" + searchQuery + "\"",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                    success: function (result) {

                        ///var length = Object.keys(result).length;//8 for a single Object
                        console.log(length);
                        // call the function to see if Object is array
                        checkObject(result);

                        console.log(typeof result); //Object!!!!!

                        //Therefore, convert it to a real array
                        //var result = $.makeArray(result);


                    },
                    error: function (xhr, status, error) {
                        console.log(xhr)
                        throw new Error('Network response was not OK');
                    }
                });
            }).trigger("focusout");
        });

    </script>

}