@model Garage2_0.Models.Vehicle

@{
    ViewData["Title"] = "Check in";
}

<h1>Check in</h1>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
<partial name="_VehicleEditTablePartial" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Garage</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
