@model IEnumerable<Garage2_0.Models.Vehicle>



@{
    ViewData["Title"] = "Garage";
}

<h1>Garage</h1>

<p>
    <a asp-action="Create">Check in vehicle</a>
</p>


<partial name="_VehicleTablePartial" />

