@{
    ViewData["Title"] = "Garage Search";
}
@Html.AntiForgeryToken()
<div class="ui-widget">
    <input id="autocomplete-1" placeholder="Registration Number" />
</div>
<div id="searchhits"></div>

@section Scripts {
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        $(document).ready(function () {
            var root = "https://" + document.location.hostname + ":7087";
            $("#autocomplete-1").autocomplete({
                source: '@Url.Action("RegSearch","Search")',
                select: function (event, ui) {
                    $.ajax({
                        cache: false,
                        async: false,
                        type: "POST",
                        headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                        contentType: "application/json; charset=utf-8",
                        url: '@Url.Action("SearchVehicles","Search")',
                        data: JSON.stringify(ui.item.value),
                        success: function (data) {
                            $("#searchhits").html(data);
                            action = data.Action;
                        },
                        error: function (ex) {
                            var r = jQuery.parseJSON(response.responseText);  
                            alert("Message: " + r.Message);  
                            alert("StackTrace: " + r.StackTrace);  
                            alert("ExceptionType: " + r.ExceptionType);  
                        }
                    });
                }
            })
        })
    </script>
}