<footer class="border-top footer text-muted mt-2">
    <div class="container pt-3">
        <div class="row d-flex">
            <div class="col"> &copy; 2022 - Garage 2.0 - Grupp 4</div>
            <div class="col flex-grow-1"></div>
            <div class="col"><vc:widget-stats1></vc:widget-stats1></div>

        </div>
    </div>

</footer>