<div class="bg-dark">
    <div class="container">
        <ul id="div1" class="list-group list-group-horizontal small" style="min-height:40px"></ul>
    </div>
</div>
@section Scripts {
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(
        function () {
            $.get("/Api/Stats", function (data) {

                var parsed = JSON.parse(data);
                for (var key in parsed) {
                    var newliitem = $('<li/>', { class: "list-group-item text-light bg-dark flex-fill d-flex justify-content-between align-items-center" })
                    var newcontent = $('<div/>', { html: (key.replace(/([A-Z])/g, ' $1').trim()) })
                    newliitem.append(newcontent)

                    newliitem.append($('<span/>', {
                        html: parsed[key],
                        class: "badge bg-secondary text-light rounded-pill"
                    }));

                    $("#div1").append(newliitem);
                }
            }
            );
        }
    );
</script>
}