@model Garage2_0.Models.Vehicle

            <div class="form-group my-1">
                <label asp-for="VehicleType" class="control-label"></label>
                <select asp-for="VehicleType" class="form-control" asp-items="Html.GetEnumSelectList<VehicleType>()"></select>
                <span asp-validation-for="VehicleType" class="text-danger"></span>
            </div>
            <div class="form-group my-1">
                <label asp-for="Brand" class="control-label"></label>
                <select asp-for="Brand" class="form-control" asp-items="Html.GetEnumSelectList<Brand>()"></select>
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group my-1">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group my-1">
                <label asp-for="Color" class="control-label"></label>
                <select asp-for="Color" class="form-control" asp-items="Html.GetEnumSelectList<Color>()"></select>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group my-1">
                <label asp-for="Wheels" class="control-label"></label>
                <input asp-for="Wheels" class="form-control" />
                <span asp-validation-for="Wheels" class="text-danger"></span>
            </div>

